<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>node-app-hub</title>
    <link href="css/default.css" rel="stylesheet">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/reset.css" rel="stylesheet">
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/sm.css" rel="stylesheet">
    <style>
        .gap5 { gap: 5px; }
        .gap10 { gap: 10px; }
        .gap15 { gap: 15px; }
        .fit-down { object-fit: scale-down; }
        pre { margin: 0; }
    </style>
</head>
<body>

<script src="js/utils.js"></script>
<script src="https://unpkg.com/@vbarbarosh/ui-helpers@0.2.1/src/static/js/bundle.js"></script>

<script>
vue_component('app', {
    template: `
    <div class="fix-f vsplit oa">
        <header>
            <div class="title">🧰 App Hub</div>
            <span class="badge" id="app-count">{{ plural(apps.length, '# app', '# apps') }}</span>
            <div class="spacer"></div>
            <input type="search" id="search" placeholder="Search apps…">
            <button id="theme">Toggle theme</button>
        </header>
        <div class="fluid hsplit">
            <div class="w250 oa">
                <ul class="apps xm p12">
                    <li v-for="item in apps" v-on:click="click_app(item)" v-bind:key="item.id" v-bind:class="{active: (item === active)}" class="app-item">
                        <div class="ico">{{ item.icon }}</div>
                        <div>
                            <div class="name">{{ item.name }}</div>
                            <div class="desc">{{ item.desc }}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="vsplit fluid p12 oa">
                <div class="rel fluid panel">
                    <iframe v-if="active" v-bind:src="active.page_url" class="abs-f ww hh oa xborder"></iframe>
                </div>
            </div>
        </div>
    </div>
    `,
    data: function () {
        return {
            apps: [],
            active: null,
        };
    },
    methods: {
        plural,
        refresh: async function () {
            this.apps = await http_get_json('apps.json');
        },
        click_app: function (item) {
            this.active = item;
        },
    },
    created: async function () {
        await blocking(this.refresh());
    },
});
</script>

</body>
</html>
