[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=electron-hello
GenericName=electron
Comment=electron
Icon=/path/to/Electron_Software_Framework_Logo.svg
Path=/path/to
Exec=npm start
Categories=Utility;
StartupWMClass=@vbarbarosh/electron-hello
